## STEP1: Connect to spotify account using spotify API

In [3]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
cid = client_id
secret = client_secret
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret)
sp = spotipy.Spotify(client_credentials_manager
=
client_credentials_manager)

In [4]:
artist_name = []
track_name = []
popularity = []
track_id = []
for i in range(0,100,1):
    track_results = sp.search(q='year:2018', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])

In [6]:
import pandas as pd
track_dataframe = pd.DataFrame({'artist_name' : artist_name, 'track_name' : track_name, 'track_id' : track_id, 'popularity' : popularity})
print(track_dataframe.shape)
track_dataframe.head()
df = track_dataframe

(5000, 4)

In [8]:
df.sort_values(by=['popularity'], ascending=False)

     artist_name           track_name                track_id  popularity
3     The Weeknd    I Was Never There  1cKHdTo9u0ZymJdPGSh6nq          89
150   The Weeknd    I Was Never There  1cKHdTo9u0ZymJdPGSh6nq          89
52    The Weeknd    I Was Never There  1cKHdTo9u0ZymJdPGSh6nq          89
101   The Weeknd    I Was Never There  1cKHdTo9u0ZymJdPGSh6nq          89
201   The Weeknd     Call Out My Name  09mEdoA6zrmBPgTEN5qXmN          88
...          ...                  ...                     ...         ...
4836         AJR  Burn The House Down  0TkJIyL69RAUIbNwGub6uR          68
4689         AJR  Burn The House Down  0TkJIyL69RAUIbNwGub6uR          68
4885         AJR  Burn The House Down  0TkJIyL69RAUIbNwGub6uR          68
4493         AJR  Burn The House Down  0TkJIyL69RAUIbNwGub6uR          68
4199         AJR  Burn The House Down  0TkJIyL69RAUIbNwGub6uR          68

[5000 rows x 4 columns]